body {
    margin: 0;
}

.hero-header {
    background-color: #1F2937;
}

p {
    font-size: 18px;
}

.hero-header h1 {
    font-size: 48px;
}

.hero-header h1, h2 {
    color: #F9FAF8;
}

.hero-header p {
    color: #E5E7EB;
}

#button {
    background-color: #3882F6;
}

.header-content .right {
    background-color: gray;
}

.navigation {
    display: flex;
    align-items:center;
    color: white;
    justify-content: space-between;
    /* border: 2px solid red; */
}

.navigation ul{
    display: flex;
    list-style: none;
    color: white;
    margin-right: 250px;
    gap: 32px;
    font-size: 18px;
    color: #E5E7EB;
    /* border: 2px solid green; */
    padding: 0;
}

.logo {
    font-size: 24px;
    font-weight: 900;
    margin-left: 250px;
    /* border: 2px solid green; */
    padding: 0;
}