body {
    margin: 0;
}

.hero-header {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
}

.logo {
    font-size: 24px;
    font-weight: 900;
    margin-left: 250px;
    /* border: 2px solid green; */
    padding: 0;
}

.navigation ul{
    display: flex;
    list-style: none;
    color: white;
    margin-right: 250px;
    gap: 32px;
    font-size: 18px;
    color: #E5E7EB;
    /* border: 2px solid green; */
    padding: 0;
}

.hero-header p {
    color: #E5E7EB;
    font-size: 18px;
    /* border: 2px solid red; */
    margin: 0;
}

.header-content {
    display: flex;
    /* justify-content: space-between; */
    margin-top: 100px;
    /* border: 2px solid red; */
    margin-bottom: 120px;
    gap: 50px; 
}

.header-content .left {
    margin-left: 250px;
    display: flex;
    flex-direction: column;
    flex:1;
    gap: 8px;
}

.header-content .right {
    background-color: gray;
    margin-right: 250px;
    flex: 1;
}

.heading {
    color: white;
    font-size: 48px;
    font-weight: 900;
    max-width: 400px;
    /* border: 2px solid red; */
    padding-bottom: 0px;
    flex: 1
}

.left p {
    max-width: 500px;
    /* border: 2px solid green; */
    margin: 0;
}

.left {
    padding-top: 16px;
    padding-bottom: 16px;
    /* border: 2px solid red; */
}

.right {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
    flex: 1;
    /* max-width: 300px; */
}

#button {
    background-color: #3882F6;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    width: 100px;
    padding: 10px;
    margin-top: 5px;
    border-radius: 10px;
}

.navigation {
    display: flex;
    align-items:center;
    color: white;
    justify-content: space-between;
    /* border: 2px solid red; */
}

.section2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 2px solid red; */
}

.section2 span {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    margin-top: 50px;
    margin-bottom: 50px;
}

.subsections {
    display: flex;
    gap: 8px;
    margin-left: 300px;
    margin-right: 300px;
    /* border: 2px solid red; */
    margin-bottom: 100px;
}

.subsection {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subsection .box {
    width: 80%;
    border: 3px solid#3882F6;
    border-radius: 10px;
}

.subsection p {
    width: 65%;
    text-align: center;
    font-size: 18px;
}

.subsection .box::after {
    content: "";
    display: block;
    padding-bottom: 100%;
}
