body {
    margin: 0;
}

.hero-header {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: 900;
    /* margin-left: 250px; */
    /* border: 2px solid green; */
    padding: 0;
}

.navigation ul{
    display: flex;
    list-style: none;
    color: white;
    /* margin-right: 250px; */
    gap: 32px;
    font-size: 18px;
    color: #E5E7EB;
    /* border: 2px solid green; */
    padding: 0;
}

.hero-header p {
    color: #E5E7EB;
    font-size: 18px;
    /* border: 2px solid red; */
    margin: 0;
}

.header-content {
    display: flex;
    /* justify-content: space-between; */
    margin-top: 100px;
    /* border: 2px solid red; */
    margin-bottom: 120px;
    gap: 50px; 
}

.header-content .left {
    margin-left: 250px;
    display: flex;
    flex-direction: column;
    flex:1;
    gap: 8px;
}

.header-content .right {
    background-color: gray;
    margin-right: 250px;
    flex: 1;
}

.heading {
    color: white;
    font-size: 48px;
    font-weight: 900;
    max-width: 400px;
    /* border: 2px solid red; */
    padding-bottom: 0px;
    flex: 1
}

.left p {
    max-width: 500px;
    /* border: 2px solid green; */
    margin: 0;
}

.left {
    padding-top: 16px;
    padding-bottom: 16px;
    /* border: 2px solid red; */
}

.right {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
    flex: 1;
    /* max-width: 300px; */
}

#button {
    background-color: #3882F6;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    width: 100px;
    padding: 10px;
    margin-top: 5px;
    border-radius: 10px;
}

.navigation {
    display: flex;
    align-items:center;
    color: white;
    width: 63%;
    justify-content: space-between;
    /* gap:auto; */
    /* flex: 1; */
    /* border: 2px solid red; */
    margin-left: 250px;
    margin-right: 250px;
}

.section2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 2px solid red; */
}

.section2 span {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    margin-top: 50px;
    margin-bottom: 50px;
}

.subsections {
    display: flex;
    gap: 8px;
    margin-left: 300px;
    margin-right: 300px;
    /* border: 2px solid red; */
    margin-bottom: 100px;
}

.subsection {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subsection .box {
    width: 80%;
    border: 3px solid#3882F6;
    border-radius: 10px;
}

.subsection p {
    width: 65%;
    text-align: center;
    font-size: 18px;
}

.subsection .box::after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.quote {
    background-color: #EBE7EB;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    padding-top: 100px;
    padding-bottom: 80px;
}

.quote p {
    font-size: 36px;
    max-width: 800px;
    color: #1F2937;
    font-style: italic;
    margin-left:auto;
    margin-right: auto;
    /* border: 2px solid red; */
    margin-bottom: 0;
    margin-top: 0;
    
}

.quote span {
    font-size: 28px;
    font-weight: 900;
    color: #1F2937;
    margin-left: auto;
    margin-right: 450px
}

.section3 {
    display: flex;
    justify-content: center;
    align-items: center;
}
.sign-up {
    background-color: #3882F6;
    margin-top: 100px;
    margin-bottom: 100px;
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
    /* justify-content: center; */
    gap: 100px;
    padding: 50px 100px;
    border-radius: 8px;
}

.left {
    display: flex;
    flex-direction: column;
    /* border: 2px solid green; */
    padding: 0;
}

.right #button {
    margin: 0;
    /* border: 2px solid red; */
}

.sign-up .right {
    border: 2px solid white;
    padding: 0;
    border-radius: 8px;
}

.top {
    color: white;
    font-size: 28px;
    font-weight: 900;
}

.content {
    color: #EBE7EB;
}